<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    {{#if loggedIn}}
        <!-- Display existing blog posts -->
        {{#each userPosts}}
            <h2>{{title}}</h2>
            <p>Date Created: {{dateCreated}}</p>
            <a href="/dashboard/edit/{{id}}">Edit</a>
            <a href="/dashboard/delete/{{id}}">Delete</a>
        {{/each}}
        <!-- Add new blog post -->
        <a href="/dashboard/new">Add New Blog Post</a>
        <!-- Navigation links -->
        <a href="/">Homepage</a>
        <a href="/logout">Logout</a>
    {{else}}
        <!-- Prompt to log in or sign up -->
        <a href="/signup">Sign Up</a>
        <a href="/login">Log In</a>
    {{/if}}
</body>
</html>

<script src="../public/js/dashboard.js"></script>